
body {
    position: relative;
    text-align: center;
    background-color: pink;
}

#titleblock{
    font-weight:bold;
    margin: 0 auto;
    padding: 50px 50px 10px;
    background-color:lightblue;
    position:fixed;
    width:100%;
    top: 0;
    left:0;
}

.titlesmall{
    font-style: italic;
    background-color:cyan;
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
}

.chaptertitle{
    font-size: 2em;
    background-color:magenta;
    width:100%;
}

 p, ul{
    margin: 1.5em;
    font-family: Georgia, serif;
}
.smallcaps{
    font-variant-caps: all-petite-caps;
}

#wrapper {
    position:relative;
    margin: 0 auto;
    margin-top: 120px;
    width: 600px;

}

.subtitle{
    background-color:yellow;
}



#next{
    position:fixed;

}
.lead {
    font-family: sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 0.8em;
    color: #111;
    text-transform:uppercase;

}


blockquote{
    font-size:1.5em;
    border-top-width:20px;
    border-bottom-width: 20px;
    background-color:chartreuse;
    width: 200px;
    padding: 40px 10px;
    margin: 0 0 0 0;
    position: absolute;
    right: -220px;
}
.article{
    font-size:1em;
    line-height: 1.5em;
    background-color:orange;
    text-align:left;
    margin: 0 auto;
    color: #333;
}

.mmargin{
    margin:1em;
}


.andscene{
    border-bottom: 1px solid lightgray;
}

.footer{
    color:#999;
}